@charset "UTF-8";

body {
  line-height: 150%;
  font-family: "Optima", "Nu Sans", Baskerville, "Times New Roman", "Arial", sans-serif;
  text-align: center;
  margin-top: 20px;
}

.cursor-move {
  cursor: move;
  text-align: left;
  background-color: #eee;
  border: 1px solid #ccc !important;
}

.dragging {
  opacity: 0.4;
}

a:link {
  color: #005585;
}

a:visited {
  color: #485270;
}

a:hover {
  color: #b83800;
}

#container {
  margin: 0 auto;
  width: 800px;
  text-align: left;
}

h2 {
  font-size: 14pt;
  clear: both;
}

/**
 * Header
 **/

#header {
  background: -webkit-gradient(linear, left top, left bottom, from(#666), to(#000));
  background: -moz-linear-gradient(top, #666, #000);
  position: relative;
  padding: 20px;
  margin-bottom: 8px;
  height: 40px;
  box-shadow: 2px 0 5px rgba(0,0,0,0.4);
}

#header h1 {
  margin: 10px 15px;
  font-size: 20pt;
  float: left;
  text-shadow: -1px -1px gray;
}

#header h1 a {
  text-decoration: none;
  color: white;
}

#login-user {
  float: right;
  margin: 10px 10px 0 0;
}

#login-user a {
  color: white;
  text-decoration: none;
}

/**
 * Content
 **/

#content {
  height: 800px;
  background-color: white;
  position: relative;
}

#content-left {
  float: left;
  background-color: rgb(228,236,246);
  border: 1px solid rgb(177,197,218);
  width: 188px;
  height: 100%;
  padding: 25px 0 0;
  margin-left: 10px;
}

#content-left a {
  display: block;
  font-size: 12px;
  text-decoration: none;
  padding-left: 8px;
  cursor: pointer;
  position: relative;
}

#content-left a:hover {
  color: black;
  background-color: rgb(177,197,218);
}

a.current {
  color: black;
  text-decoration: none;
  background-color: white;
  font-weight: bold;
  border-top: 1px solid rgb(177,197,218);
  border-bottom: 1px solid rgb(177,197,218);
  width: 181px;
}

#content-left a .count {
  width: 25px;
  border-radius: 8px;
  color: white;
  background-color: #bbb;
  text-align: center;
  position: absolute;
  top: 3px;
  right: 8px;
  font-size: small;
  line-height: 130%;
  padding-top: 1px;
}

#content-left a:hover .count {
  background-color: white;
  color: rgb(177,197,218);
}

#content-right {
  float: left;
  width: 530px;
  height: 100%;
  padding: 15px 0 0 35px;
}

#got-post-button {
  border-radius: 12px;
  background-image:
      url(/static/img/plus.png),
      -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));
  background-image:
      url(/static/img/plus.png),
      -moz-linear-gradient(top, #fff, #eee);
  background-repeat: no-repeat;
  background-position: 5px 6px;
  padding: 2px 24px;
  border: 1px solid #ddd;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 20px;
}

#got-post-task {
  text-align: right;
}

#got-post-task textarea {
  width: 95%;
  height: 30px;
}

#got-post-task input {
  margin-right: 20px;
  width: 60px;
  height: 25px;
  box-shadow: none;
  background-color: #eee;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
}

#got-public-tasks {
  margin-top: 15px;
  clear: both;
}

#got-my-tasks {
  clear: both;
}

#got-done-tasks {
  font-size: x-small;
  color: gray;
  padding: 5px 15px;
}

/**
 * Task
 */

.got-taskitem {
  clear: both;
  position: relative;
  border-bottom: 1px solid #eee;
  padding: 8px 0;
  min-height: 70px;
}

.got-taskitemline {
  clear: both;
  height: 20px;
  padding: 4px;
  border: 1px solid white;
}

.done-task {
  background-color: #eee;
  color: #888;
}

.got-taskitem .profile-image {
  margin: 0 8px 0 5px;
}

.got-taskitem img.got-taskitem-owner {
  float: left;
}

.got-taskitem img.got-taskitem-user {
  position: absolute;
  top: 0;
  left: 0;
}

.got-taskitem .got-taskitem-content {
  margin-left: 75px;
  width: 380px;
}

.got-taskitem .got-taskitem-body {
  line-height: 110%;
}

.got-taskitemline .got-taskitem-body {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 503px;
  float: left;
}

#got-done-tasks .got-taskitemline .got-taskitem-body {
  width: 473px;
}

.got-taskitem .got-taskitem-owner {
  color: #888;
  font-size: small;
}

.got-taskitem .got-taskitem-owner a {
  color: #888;
  text-decoration: none;
}

.got-taskitem-done {
  float: left;
}

.got-taskitemline img {
  float: left;
}

.got-taskitem-action {
  position: absolute;
  top: 25px;
  right: 10px;
  font-size: x-small;
}

.got-taskitem-action a {
  padding: 3px;
  cursor: pointer;
}

.got-taskitem-manage {
  margin-top: 8px;
}

.got-taskitem-manage a {
  font-size: x-small;
  margin: 0 3px;
  cursor: pointer;
  color: #888;
}

.got-taskitem-manage a:hover {
  color: #b83800;
}

.got-taskitem-comments .comment-form input {
  border: 1px solid rgb(228,236,246);
  width: 300px;
}

.got-taskitem-comments input:focus {
  border: 1px solid rgb(228,236,246);
  background: white;
  outline: 0;
}

.got-taskitem-comments div {
  margin-left: 15px;
  font-size: small;
}

.profile-image {
  width: 64px;
  height: 64px;
  text-align: center;
  float: left;
}

.button {
  display: inline-block;
  height: 21px;
  padding: 0 6px;
  border: 1px solid #d4d4d4;
  white-space: nowrap;
  font-size: 11px;
  font-weight: bold;
  font-family: helvetica,arial,freesans,clean,sans-serif;
  color: #333;
  border-radius: 3px;
  background: -webkit-gradient(linear, left top, left bottom, from(#f4f4f4),to(#ececec));
  background: -moz-linear-gradient(top, #f4f4f4, #ececec);
  text-shadow: 1px 1px 0 white;
  text-decoration: none;
  cursor: pointer;
}

a.button:hover {
  color: white;
  background: -webkit-gradient(linear, left top, left bottom, from(#61a3e4), to(#4183c4));
  background: -moz-linear-gradient(top, #61a3e4, #4183c4);
  text-shadow: -1px -1px 0 #555;
}

.button img {
  margin: 2px 2px 0;
}

#watch-button {
  float: right;
}
