+{
    'Teng' => {
        dsn => 'dbi:mysql:gotumda',
        username => '',
        password => '',
        connect_options => +{
            mysql_enable_utf8 => 1,
            RaiseError => 1,
        },
    },
    'Text::Xslate' => {
        path => ['tmpl/'],
    },
    'Hatena::API::Auth' => {
        api_key => "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx",
        secret => "xxxxxxxxxxxxxxxx",
    },
};
