+{
    'Teng' => {
        dsn => 'dbi:SQLite:dbname=development.db',
        username => '',
        password => '',
        connect_options => +{
            sqlite_unicode => 1,
        },
    },
    'Text::Xslate' => {
        path => ['tmpl/'],
    },
    'Hatena::API::Auth' => {
        api_key => "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx",
        secret => "xxxxxxxxxxxxxxxx",
    },
};
