<div id="header">
  <h1><a href="/">Gotumda+</a></h1>
  <div id="login-user">
    [% IF current_user() %]
      <img src="[% current_user().thumbnail_url %]" />
      <a href="[% uri_for('/tasks') %]">[% current_user().name %]</a>
    [% ELSE %]
      <a href="/auth"><img src="[% uri_for('/static/img/login-hatena.png') %]" alt="Login with Hatena" height="20px"/></a>
    [% END %]
  </div>
</div>
