[% WRAPPER 'include/layout.tt' %]

<div id="got-public-tasks">
  Loading..
</div>

<script type="text/javascript">
  [% IF mode_name() != 'deployment' %]
    goog.require('got.app.Timeline');
  [% END %]
  new got.app.Timeline();
</script>

[% END %]
