[% WRAPPER 'include/layout.tt' %]

<div id="got-public-tasks">
  Loading..
</div>

[% IF mode_name() != 'deployment' %]
<script type="text/javascript">
  goog.require('got.app.Timeline');
</script>
[% END %]
<script type="text/javascript">
  new got.app.Timeline();
</script>

[% END %]
