[% WRAPPER 'include/layout.tt' %]

<h2>
  Project #[% project %]
  <a id="watch-button" class="button[% IF watching %] watching[% END %]">[% IF watching %]Unwatch[% ELSE %]Watch[% END %]</a>
</h2>
<div id="got-project-tasks">
  Loading..
</div>

<script type="text/javascript">
  goog.require('got.app.Project');
</script>

[% END %]
