[% WRAPPER 'include/layout.tt' %]

<h2>
  Project #[% project %]
  <a id="watch-button" class="button[% IF watching %] watching[% END %]">[% IF watching %]Unwatch[% ELSE %]Watch[% END %]</a>
</h2>
<div id="got-project-tasks" class="task-list">
  Loading..
</div>

[% IF mode_name() != 'deployment' %]
<script type="text/javascript">
  goog.require('got.app.Project');
</script>
[% END %]
<script type="text/javascript">
  new got.app.Project();
</script>

[% END %]
