[% WRAPPER 'include/layout.tt' %]

<h2>[% IF user == current_user().name %]My[% ELSE %][% user %]'s[% END %] Tasks</h2>
<div id="got-task-list" user="[% user %]">
  <div id="got-current-tasks">
    Loading..
  </div>
  <div id="got-done-tasks">
  </div>
</div>

<script type="text/javascript">
  [% IF mode_name() != 'deployment' %]
    goog.require('got.app.Tasks');
  [% END %]
  new got.app.Tasks();
</script>

[% END %]
