[% WRAPPER 'include/layout.tt' %]

<h2>[% user %]'s Tasks</h2>
<div id="got-task-list" class="task-list">
  Loading..
</div>

[% IF mode_name() != 'deployment' %]
<script type="text/javascript">
  goog.require('got.app.User');
</script>
[% END %]
<script type="text/javascript">
  new got.app.User();
</script>

[% END %]
